<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     
     <bean id="empbean" class="com.gowtham.Employee">
     <property name="id" value="12"></property>
      <property name="name" value="ch venkat"></property>
      
     <property name="skillset">
     <list>
     <value>java</value>
     <value>spring</value>
     <value>hibernate</value>
     <value>mysql</value>
     <value>springboot</value>
    </list>
    </property>
   <property name="phone_no">
  <set>
     <value>840928090</value>
     <value>9000000000</value>
     <value>700000000</value>
     <value>97823434</value>
    <value>700000000</value>
</set>
</property>
<property name="projects">
<map>
<entry  key="k2" value="Bank"/>
<entry key="K3">
<value>ATM</value></entry>
<entry value="Ecommerce">
<key>
<value>K4</value>
</key>
</entry>
</map>
</property>
</bean>
</beans>
